<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DATABASE -->
        <property name="hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>
        <property name="hibernate.connection.url">
            jdbc:sqlite:jack_sparrow_curse.db
        </property>

        <!-- SQL DIALECT -->
        <property name="hibernate.dialect"> org.hibernate.community.dialect.SQLiteDialect </property>

        <!-- DEBUG -->
        <property name="hibernate.show_sql"> true </property>
        <property name="hibernate.format_sql"> true </property>

        <!-- AUTO UPDATE TABLES -->
        <property name="hibernate.hbm2ddl.auto"> update </property>

        <!-- ENTITY MAPPINGS -->
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.Giocatore"/>
    </session-factory>
</hibernate-configuration>