<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- DATABASE -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:jack_sparrow_curse.db</property>
        <!-- DIALECT -->
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <!-- DDL -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- DEBUG -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- ── ENTITY ── -->
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.AbstractPersonaggio"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.Giocatore"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.nemici.KrakenBoss"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.nemici.MarinaioMaledetto"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.nemici.PirataScheletrico"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.personaggi.nemici.SerpenteMarino"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.AbstractOggetto"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.AbstractEquipaggiamento"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.equipaggiamenti.Arma"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.equipaggiamenti.Armatura"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.equipaggiamenti.Reliquia"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.consumabili.PozioneSalute"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.oggetti.consumabili.Rum"/>
        <mapping class="it.unicam.cs.mpgc.rpg123279.model.Salvataggio"/>
    </session-factory>
</hibernate-configuration>